*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(35, 35, 138) 43%, rgba(0,212,255,1) 100%);
}
.contaner{
    width: 600px;
    margin: 100px auto;
    background-color: rgb(117, 130, 189);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
h1{
    text-align: center;
    color: rgb(7, 5, 5);
}
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #120f0f;
    font-weight: 700px;
}
input[type="date"]{
    width: 50%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #aa7e66;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.result-contaner{
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.result{
    margin-top: 10px;
}
.result h3{
    color: #333;
    font-size: 20px;
}
.result p{
    margin-top: 10px;
    font-size: 15px;
}
